---
layout: page-base
title: About Me
subtitle: Get to know more about me
hero:
size: is-large
color: is-primary
image: assets/img/parametric-lavabo-double.jpg
---

<section class="section" id="intro">
  <div class="card">
    <div class="card-content is-italic">
      <div class="centered-block">
        <article class="media">
          <div class="media-left">
            <figure class="image is-128x128" id="author-img">
              <img class="is-rounded" src="{{site.data.me.author-img}}" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <br>
                {{site.data.me.intro}}
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="section" id="skills">
  <div class="content">
    <h1 class="has-text-centered">Skills</h1>
    <div class="tile is-ancestor">
      <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
          <p class="title">Languages</p>
          <p class="is-italic">{{site.data.me.languages-intro}}</p>
          {%for language in site.data.me.languages%}
          <ul>
            <li><strong>{{language.name}}
              </strong>- {{language.level}}
            </li>
          </ul>
          {%endfor%}
        </div>
        <div class="tile is-child box">
          <p class="title">Softwares</p>
          <p class="is-italic">{{site.data.me.softwares-intro}}</p>
          {%for software in site.data.me.softwares%}
          <ul>
            <li><strong>{{software.name}}</strong>
            </li>
          </ul>
          {%endfor%}
        </div>
      </div>
      <div class="tile is-vertical is-parent">
        <div class="tile is-child box">
          <p class="title">Education</p>
          <p class="is-italic">{{site.data.me.edu-intro}}</p>
          {%for edu in site.data.me.education %}
          <ul>
            <li>
              <h3>{{edu.school}}</h3>
              <p><strong>
                  {{edu.course}} - {{edu.location}}
                </strong> {{edu.start-date}} - {{edu.end-date}}</p>
            </li>
          </ul>
          {%endfor%}
        </div>

        <div class="tile is-child box">
          <p class="title">Area of Expertise</p>
          {% for exp in site.data.me.expertise%}
          <ul>
            <li><strong>{{exp.name}}</strong></li>
          </ul>
          {%endfor%}
        </div>
        <div class="tile is-child box">
          <p class="title">Programming & Web Design</p>
          <p class="is-italic">{{site.data.me.programming-intro}}</p>
          {% for code in site.data.me.programming%}
          <ul>
            <li><strong>{{code.name}}
              </strong>- {{code.level}}</p>
            </li>
          </ul>
          {%endfor%}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- projects slider -->
<section class="projects-slider">
  <div class="section">
    <div class="container">
      <div class="content">
        <h1 class="has-text-centered">Projects</h1>
      </div>
    </div>
  </div>
</section>
{% include projects.html size=data.me.projects.size color=data.me.projects.image image=data.me.projects.image %}
<!-- end of projects slider -->
<section class="" id="links-about">
  <div class="section">
    <div class="container">
      <div class="content">
        <section class="section">
          <p>{{site.data.me.links-text}}</p>
        </section>
      </div>
      <div class="buttons is-centered are-large">
        {% for link in site.data.me.links %}
        <button class="button is-primary is-outlined is-rounded">{{link.link}}</button>
        {% endfor %}
      </div>
    </div>
  </div>
</section>