body{

}

.welcome-page{
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background: #696969;
}
.contact{
    margin-left: auto;
    margin-right: auto;
    padding: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 5px;
    border: 1px solid #ECE9E6;
    background-color: white;
    color:#696969;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    transition: 0.5s;
}

.contact:hover{
    background-color: white ;
    color: #ECE9E6;
}
p{
    margin-block-start: 0em;}

h1{
    font-size: 600%;
    font-weight: lighter;
    margin-block-end: 0em;
    margin-block-start: 0em;
}

h2{
    font-weight: normal;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}