@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$grey: dimgrey;


// Update Bulma's global variables
$family-sans-serif: "Montserrat", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $grey;
$widescreen-enabled: false;
$fullhd-enabled: false;


// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


// Import only what you need from Bulma
@import "./bulma/sass/utilities/_all.sass";
@import "./bulma/sass/base/_all.sass";
@import "./bulma/sass/elements/button.sass";
@import "./bulma/sass/elements/container.sass";
@import "./bulma/sass/elements/form.sass";
@import "./bulma/sass/elements/title.sass";
@import "./bulma/sass/components/navbar.sass";
@import "./bulma/sass/layout/hero.sass";
@import "./bulma/sass/layout/section.sass";

$primary: $turquoise;
$link: $blue;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$dark: $grey-darker;
$text: $grey-dark;

.has-padding-1{
    padding-top: 2%;
    padding-bottom: 2%;
}
#particles-js canvas{
    position: absolute !important;
    width: 100% !important;
    height: 100vh !important;
    left: 0;
    top: 0;   
}

#main-text{
    z-index: 1;
}