<section id='testHero' {% if include.image %} data-header-image="{{include.image | absolute_url}}" {% endif %} class="hero has-background is-bold
           {% if include.color %}{{include.color}}{%else%}is-primary{%endif%}
           {% if include.size %}{{include.size}}{%else%}is-large{%endif%}">
  <!-- Hero head: will stick at the top -->
  <div class="" id="particles-js"></div>
  <div class="hero-head">
    <nav class="navbar is-black">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" id="author-logo">
            <img src="{{site.logo | absolute_url}}" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            {% for item in site.data.navigation %}
            <a class="navbar-item" href="{{item.url}}">
              {{item.name}}
            </a>
            {%endfor%}
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-size-1">
        {% if page.title %} {{page.title}} {% else %} {{site.title}} {% endif %}
      </h1>
      
      <h2 class="subtitle">
        {% if page.subtitle %} {{page.subtitle}} {% else %} {{site.subtitle}} {% endif %}
       
      </h2>
      
    </div>
  </div>
  <script src="{{'assets/js/particles.js' | absolute_url}}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
        /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
      {% capture particle-config %}{% if page.hero.particles == 'snow' %}assets/particles-snow.json{% else %}assets/particles.json{% endif %} {% endcapture %}

      particlesJS.load('particles-js', "{{ particle-config | absolute_url}}", function () {
        console.log('callback - particles.js config loaded');
      });
    })
  </script>
</section>