<section id='testHero' {% if include.image %} data-header-image="{{include.image | absolute_url}}" {% endif %} class="hero is-bold
           {% if include.color %}{{include.color}}{%else%}is-primary{%endif%}
           {% if include.size %}{{include.size}}{%else%}is-large{%endif%}">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar is-black">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="{{site.logo | absolute_url}}" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            {% for item in site.data.navigation %}
            <a class="navbar-item" href="{{item.url}}">
              {{item.name}}
            </a>
            {%endfor%}
            <span class="navbar-item">
              {%for button in site.data.contact.email %}
              <a class="button is-primary is-inverted" href="mailto:{{button.url}}" target="_blank">
                <span class="icon">
                  <i class="{{button.icon}}"></i>
                </span>
                <span>{{button.name}}</span>
              </a>
              {%endfor%}
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <!-- {% include brokentext.html %} -->
    <div class="container has-text-centered">
      <h1 class="title is-size-1">
        {% if page.title %} {{page.title}} {% else %} {{site.title}} {% endif %}
      </h1>
      {% if page.subtitle %}
      <h2 class="subtitle">
        {{page.subtitle}}
      </h2>
      {% endif %}
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          {% for item in page.categories %}
          <li><a disabled style="cursor:default;">{{item.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
  <div id="particles-js-snow"></div>
  <script src="assets/particles-js-snow/js/particles.js"></script>
  <script src="assets/particles-js-snow/js/app.js"></script>
</section>