
<section id='interests' {% if interest.image %} data-header-image="{{interest.image}}" {% endif %} class="hero is-bold
           {% if interest.color %}{{interest.color}}{%else%}is-primary{%endif%}
           {% if include.size %}{{include.size}}{%else%}is-large{%endif%}">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-4">
                {{interest.title}}
            </h1>
            <h2 class="subtitle is-6">
                {{interest.subtitle}}
            </h2>
        </div>
    </div>
</section>
