<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="subtitle-content">

    <div class="content__container">

        <ul class="content__container__list">
            <li class="content__container__list__item">{{page.subtitle1}}</li>
            <li class="content__container__list__item">{{page.subtitle2}}</li>
            <li class="content__container__list__item">{{page.subtitle3}}</li>
            <li class="content__container__list__item">{{page.subtitle4}}</li>
        </ul>
    </div>
</div>