<div class="dropdown is-hoverable">
    <div class="dropdown-trigger">
        <button class="button is-dark" aria-haspopup="true" aria-controls="dropdown-menu7">
            <span class="icon is-small">
                <i class="fas fa-globe fa-lg" aria-hidden="true"></i>
            </span>
        </button>
    </div>
    <div class="dropdown-menu buttons" id="dropdown-menu7" role="menu">
        <button id="cameraRotation" class="button is-small is-dark">
            <span class="icon is-small">
                <i class="fas fa-undo" aria-hidden="true"></i>
            </span>
        </button>
        <button id="orbitControl" class="button is-small is-dark">
            <span class="icon is-small">
                <i class="fas fa-compass" aria-hidden="true"></i>
            </span>
        </button>
        <button id="dragControl" class="button is-small is-dark">
            <span class="icon is-small">
                <i class="fas fa-arrows-alt" aria-hidden="true"></i>
            </span>
        </button>
        <button id="firstPersonControl" class="button is-small is-dark">
            <span class="icon is-small">
                <i class="fas fa-street-view" aria-hidden="true"></i>
            </span>
        </button>
    </div>
</div>