<div class="columns">
    <div class="column is-paddingless">
        <div class="card">
            <div class="card-image medium-height">
                <div class="card-content threejs-navigation-panel">
                    {% include three-js-nav.html %}
                </div>
                <canvas id='{{include.id}}' class="threeJS-canvas"></canvas>
                <article class="message is-bottom is-dark">
                    <div id="canvas-info" class="message-body is-console-output">
                        <strong>canvas info</strong>
                    </div>
                    <input class="input is-console-input is-dark" type="text" placeholder="Text input">
                </article>
            </div>
        </div>
    </div>
    <div class="column is-one-quarter is-paddingless control-panel">
        <div class="card medium-height control-panel">
            <div class="control-panel">
                {% include three-js-menu.html %}
            </div>

        </div>
    </div>
</div>

<script type="x-shader/x-vertex" id="vertexShader">

	varying vec3 vWorldPosition;

			void main() {

				vec4 worldPosition = modelMatrix * vec4( position, 1.0 );
				vWorldPosition = worldPosition.xyz;

				gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );

			}

</script>

<script type="x-shader/x-fragment" id="fragmentShader">

			uniform vec3 topColor;
			uniform vec3 bottomColor;
			uniform float offset;
			uniform float exponent;

			varying vec3 vWorldPosition;

			void main() {
				float h = normalize( vWorldPosition + offset ).y;
				gl_FragColor = vec4( mix( bottomColor, topColor, max( pow( max( h , 0.0), exponent ), 0.0 ) ), 1.0 );
			}
</script>

<script>
    /**
    * @author Christan Dimitri http://chrisdimi.me/
    */

    // Our Javascript will go here.
    var scene = new THREE.Scene();
    var camera;

    function delete3DOBJ(objName) {
        var selectObject = scene.getObjectByName(objName);
        scene.remove(selectObject);
        selectObject = null;
    }

    function loadModel(color, path) {

        var objLoader = new THREE.FBXLoader();
        objLoader.setPath("{{'assets/models/fbx/' | absolute_url}}");
        objLoader.load(path, function (object) {
            object.traverse(child => {
                if (child.material) child.material = new THREE.MeshPhongMaterial({ color, specular: 0x111111, shininess: 200 });
                child.castShadow = true;
                child.receiveShadow = true;
            });
            object.position.set(0, 0, 0);
            object.scale.set(10, 10, 10);
            object.name = 'currentObject';
            scene.add(object);
        });
    }


    function rotateCamera() {
        var timer = Date.now() * 0.0001;

        camera.position.x = Math.cos(timer) * 20;
        camera.position.z = Math.sin(timer) * 20;

        camera.lookAt(0, 0, 0);
    }

    function textLoad(text) {
        var loader = new THREE.FontLoader();
        loader.load("{{'assets/js/three.js-master/examples/fonts/helvetiker_regular.typeface.json' | absolute_url}}", function (font) {
            var geometry = new THREE.TextGeometry(text, {
                font: font,
                size: 1,
                height: 5,
                curveSegments: 12,
                bevelEnabled: 10,
                bevelThickness: 10,
                bevelSize: 8,
                bevelOffsset: 0,
                bevelSegments: 5
            });
        });
    }

    function main() {
        // =========== text in canvas canvas ==========
        var info = document.getElementById('#info');


        //========= set renderer to 'canvas id' ===============//
        const canvas = document.querySelector('#{{include.id}}');
        // ==================== set renderer ==============================//
        var renderer = new THREE.WebGLRenderer({ antilias: true, canvas });
        renderer.setPixelRatio(window.devicePixelRatio);
        renderer.shadowMap.enabled = true;
        renderer.shadowMap.type = THREE.BasicShadowMap;

        //================== set camera ======================//
        const fov = 30;
        const aspect = window.innerWidth / window.innerHeight;
        const near = 0.1;
        const far = 5000;
        camera = new THREE.PerspectiveCamera(fov, aspect, near, far);
        camera.lookAt(new THREE.Vector3(0, 1, 0));

        camera.position.z = 15;
        camera.position.y = 5;
        camera.position.x = -20;

        //================== set scene ======================//

        // ======== OBJ Loader ============ //

        var model = loadModel('{{ include.color }}', '{{include.obj}}', scene);

        // =============== set light =====================================//
        // // // set background color
        scene.background = new THREE.Color().setHSL(0.6, 0, 1);
        scene.fog = new THREE.Fog(scene.background, 1, 5000);
        //  set hemlight
        hemiLight = new THREE.HemisphereLight(0xffffff, 0xffffff, 0.1);
        hemiLight.color.setHSL(0, 0, 0.8627);
        hemiLight.position.set(0, 50, 0);
        scene.add(hemiLight);
        // 
        var ambientLight = new THREE.AmbientLight(0xffffff, 0.6);
        scene.add(ambientLight);

        var dirLight = new THREE.PointLight(0xffffff, 0.5);
        dirLight.color.setHSL(0.1, 1, 0.95);
        dirLight.position.set(-3, 10, -6);
        // ============= set up shadow properties for the light ============//
        dirLight.castShadow = true;

        dirLight.shadow.mapSize.width = 2048;
        dirLight.shadow.mapSize.height = 2048;
        var d = 50;

        dirLight.shadow.camera.left = - d;
        dirLight.shadow.camera.right = d;
        dirLight.shadow.camera.top = d;
        dirLight.shadow.camera.bottom = - d;

        dirLight.shadow.camera.near = 0.01;
        dirLight.shadow.camera.far = 5000;
        dirLight.shadow.bias = -0.0001;
        var dirHelper = new THREE.PointLightHelper(dirLight);
        // scene.add(dirHelper);
        scene.add(dirLight);

        // ===================== ground ===================================//
        var groundGeo = new THREE.PlaneBufferGeometry(50, 50);
        var groundMat = new THREE.ShadowMaterial();
        groundMat.opacity = 0.3;
        // groundMat.color.setHSL(0.095, 1, 0.75);

        var ground = new THREE.Mesh(groundGeo, groundMat);
        ground.receiveShadow = true;
        ground.rotation.x = - Math.PI / 2;
        ground.position.y = -0.001;
        scene.add(ground);

        var gridMaterial = new THREE.LineBasicMaterial({
            color: 0x000000,
            linewidth: 2,
        });
        var grid = new THREE.GridHelper(50, 10, 0x696969, 0x696969);
        grid.material.opacity = 0.3;
        // grid.material.transparent = true;
        grid.position.y = -0.001;
        scene.add(grid);
        var grid2 = new THREE.GridHelper(50, 50, 0xffffff, 0xffffff);
        grid2.material.opacity = 0.2;
        grid2.material.transparent = true;
        grid2.position.y = -0.001;
        scene.add(grid2);

        // ===================== axes ===================================//
        var axes = new THREE.AxesHelper(25);
        axes.name = "AxesHelper";
        scene.add(axes);
        // ===================== controls ==================================//
        var controls = new THREE.OrbitControls(camera, renderer.domElement);
        controls.enableRotate = false;
        controls.enableKeys = false;
        controls.enableZoom = false;
        controls.enablePan = false;
        controls.autoRotate = true;
        controls.autoRotateSpeed = 1;
        controls.target = new THREE.Vector3(0, 0, 0);
        controls.panningMode = 1;
        controls.keys = {
            LEFT: 37, //left arrow
            UP: 38, // up arrow
            RIGHT: 39, // right arrow
            BOTTOM: 40 // down arrow
        }
        controls.mouseButtons = {
            LEFT: THREE.MOUSE.ROTATE,
            MIDDLE: THREE.MOUSE.PAN,
            RIGHT: THREE.MOUSE.DOLLY,
        }
        controls.enableDamping = true;
        // an animation loop is required when either damping or auto-rotation are enabled
        controls.dampingFactor = 0.05;
        controls.minDistance = 0.5;
        controls.maxDistance = 35;
        // vertical angle control
        controls.minPolarAngle = -Math.PI / 2;
        controls.maxPolarAngle = Math.PI / 2;
        //  horizontally angle control
        // controls.minAzimuthAngle = -Math.PI / 2;
        // controls.maxAzimuthAngle = Math.PI / 2;

        // toggle camera rotation button
        var rotationButton = document.querySelector('#cameraRotation');
        var infoText = "Camera rotation enabled, Orbit controls disabled, select navigation type from the toolbar";
        document.getElementById("canvas-info").innerHTML = infoText;
        rotationButton.addEventListener('click', function () {
            console.clear();
            if (controls.autoRotate == false) {
                controls.autoRotate = true;
                controls.enableRotate = false;
                controls.enableKeys = false;
                controls.enableZoom = false;
                controls.enablePan = false;
                infoText = "Camera auto-rotate enabled, toggle to disable";
                document.getElementById("canvas-info").innerHTML = infoText;
            }
            else {
                controls.autoRotate = false;
                controls.enableRotate = true;
                controls.enableKeys = true;
                controls.enableZoom = true;
                controls.enablePan = true;
                infoText = "Camera auto-rotate disabled, toggle to enable";
                document.getElementById("canvas-info").innerHTML = infoText;
            }

        }, false);

        // toggle orbit control
        var orbitButton = document.querySelector('#orbitControl');
        orbitButton.addEventListener('click', function () {
            console.clear();
            if (controls.autoRotate == true) {
                controls.autoRotate = false;
                controls.enableRotate = true;
                controls.enableKeys = true;
                controls.enableZoom = true;
                controls.enablePan = true;
                infoText = "Orbit controls enabled, toggle to disable";
                document.getElementById("canvas-info").innerHTML = infoText;
            }
            else {
                controls.autoRotate = true;
                controls.enableRotate = false;
                controls.enableKeys = false;
                controls.enableZoom = false;
                controls.enablePan = false;
                infoText = "Orbit controls disabled, toggle to enable";
                document.getElementById("canvas-info").innerHTML = infoText;
            }
        }, false)

        // drag controls
        var dragButton = document.querySelector('#dragControl');
        dragButton.addEventListener('click', function () {
            console.clear();
            if (controls.autoRotate == false) {
                console.log("Camera auto-rotate enabled, toggle to disable");
            }
            else if (controls.keys == true) {
                console.log("Camera auto-rotate enabled, toggle to disable");
            }
        }, false)
        // ==================== SKYDOME ===================================//

        var vertexShader = document.getElementById('vertexShader').textContent;
        var fragmentShader = document.getElementById('fragmentShader').textContent;
        var uniforms = {
            "topColor": { value: new THREE.Color(0xb1b1b1) },
            "bottomColor": { value: new THREE.Color(0xb1b1b1) },
            "offset": { value: 60 },
            "exponent": { value: 0.6 }
        };
        uniforms["topColor"].value.copy(hemiLight.color);

        scene.fog.color.copy(uniforms["bottomColor"].value);

        var skyGeo = new THREE.SphereBufferGeometry(4000, 100, 100);
        var skyMat = new THREE.ShaderMaterial({
            uniforms: uniforms,
            vertexShader: vertexShader,
            fragmentShader: fragmentShader,
            side: THREE.BackSide
        });

        var sky = new THREE.Mesh(skyGeo, skyMat);
        scene.add(sky);


        // ============== TODO loading buffer ==============================//



        //===================== Events ======================//
        function resizeRendererToDisplaySize(renderer) {
            const canvas = document.querySelector('#{{include.id}}');
            const width = canvas.clientWidth;
            const height = canvas.clientHeight;
            const needResize = canvas.width !== width || canvas.clientHeight !== height;
            if (needResize) {
                renderer.setSize(width, height, false);
            }
            return needResize;
        }
        function onMouseOverOBJColor(object) {

        }
        // ===================== Render ==========================//
        // adding scene and camera to the render
        function render(time) {
            if (resizeRendererToDisplaySize(renderer)) {
                const canvas = document.querySelector('#{{include.id}}');
                camera.aspect = canvas.clientWidth / canvas.clientHeight;
                camera.updateProjectionMatrix();
            };
            controls.update();

            renderer.render(scene, camera);
            requestAnimationFrame(render);
        };

        requestAnimationFrame(render);
    }


    main();

</script>