<div class="dropdown is-hoverable is-pulled-left">
    <div class="dropdown-trigger">
        <a class="" aria-haspopup="true" aria-controls="dropdown-menu4">
            <span class="icon is-medium">
                <i class="fas fa-info fa-stack-1x fa-inverse fa-border has-background-primary is-marginless"></i>
            </span>
        </a>
    </div>
    <div class="dropdown-menu" id="dropdown-menu4" role="menu">
        <div class="dropdown-content">
            <div class="dropdown-item">
                <p>Follow the instructions in the<strong> command panel.</strong> The app is under development,
                    don't hestiate to contact me for further questions. Thank you.</p>
            </div>
        </div>
    </div>
</div>