<aside class="menu">
    <p class="menu-label">
        Navigation Controls
    </p>
    <div class="columns navigation-controls has-text-centered">
        <div class="column is-one-quarter">
            <span class="icon is-medium navigation">
                <button id="cameraRotation" class="fa-stack">
                    <i class="fas fa-undo fa-stack-1x has-text-primary"></i>
                </button>
            </span>
        </div>
        <div class="column is-one-quarter">
            <span class="icon is-medium">
                <button id="orbitControl" class="fa-stack">
                    <i class="fas fa-sync fa-stack-1x"></i>
                </button>
            </span>
        </div>
        <div class="column is-one-quarter">
            <span class="icon is-medium">
                <button id="dragControl" class="fa-stack">
                    <i class="fas fa-arrows-alt fa-stack-1x"></i>
                </button>
            </span>
        </div>
        <div class="column is-one-quarter">
            <span class="icon is-medium">
                <button id="firstPersonControl" class="fa-stack">
                    <i class="fas fa-street-view fa-stack-1x"></i>
                </button>
            </span>
        </div>
    </div>
</aside>