<div class="tabs is-toggle is-mobile is-fullwidth is-small is-marginless" id="tabs">
    <ul class="is-marginless">
        <li class="is-active" data-tab="1">
            <a class="top-radiusless">
                <span class="icon is-small">
                    <i class="fa fa-home fa-lg"></i>
                </span>
            </a>
        </li>
        <li data-tab="2">
            <a class="top-radiusless">
                <span class="icon is-small">
                    <i class="fa fa-file-alt fa-lg"></i>
                </span>
            </a>
        </li>
        <li data-tab="3">
            <a class="top-radiusless">
                <span class="icon is-small">
                    <i class="fa fa-users-cog fa-lg"></i>
                </span>
            </a>
        </li>
        <li data-tab="4">
            <a class="top-radiusless">
                <span class="icon is-small">
                    <i class="fa fa-sliders-h fa-lg"></i>
                </span>
            </a>
        </li>
    </ul>
</div>
<div class="card-content has-text-white" id="tab-content">
    <div class="buttons are-small">
        <button class="button icon">
            <i class="fas fa-camera"></i>
        </button>
        <button class="button icon">
            <i class="fas fa-layer-group"></i>
        </button>
        <button class="button icon">
            <i class="fas fa-globe"></i>
        </button>
        <button class="button icon">
            <i class="fas fa-info"></i>
        </button>
    </div>
    <p class="is-active" data-content="1">
        Project & Canvas Info
    </p>
    <p data-content="2">
        Modifiers & Controlers
    </p>
    <p data-content="3">
        User Attributes
    </p>
    <p data-content="4">
        Data & Results
    </p>
</div>
<script type="text/javascript">
    const TABS = [...document.querySelectorAll('#tabs li')];
    const CONTENT = [...document.querySelectorAll('#tab-content p')];
    const ACTIVE_CLASS = 'is-active';

    function initTabs() {
        TABS.forEach((tab) => {
            tab.addEventListener('click', (e) => {
                let selected = tab.getAttribute('data-tab');
                updateActiveTab(tab);
                updateActiveContent(selected);
            })
        })
    }

    function updateActiveTab(selected) {
        TABS.forEach((tab) => {
            if (tab && tab.classList.contains(ACTIVE_CLASS)) {
                tab.classList.remove(ACTIVE_CLASS);
            }
        });
        selected.classList.add(ACTIVE_CLASS);
    }

    function updateActiveContent(selected) {
        CONTENT.forEach((item) => {
            if (item && item.classList.contains(ACTIVE_CLASS)) {
                item.classList.remove(ACTIVE_CLASS);
            }
            let data = item.getAttribute('data-content');
            if (data === selected) {
                item.classList.add(ACTIVE_CLASS);
            }
        });
    }

    initTabs();
</script>