<aside class="menu">
    <p class="menu-label">
        Navigation
    </p>
    <div class="dropdown">
        <div class="dropdown-trigger">
            <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>------ ------</span>
                <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
                <a id="cameraRotation" class="dropdown-item is-size-8">
                    Toggle camera rotation
                </a>
                <a id="orbitControl" class="dropdown-item is-size-8">
                    Toggle orbit control
                </a>
                <a href="#" class="dropdown-item is-size-8">
                    Toggle drag control
                </a>
                <a href="#" class="dropdown-item is-size-8">
                    Toggle first person control
                </a>
                <a href="#" class="dropdown-item is-size-8">
                    Toggle trackball control
                </a>
            </div>
        </div>
    </div>
</aside>