<section class="section" id="thumb-gallery">
    <div class="columns thumbs">
        <div class="column has-text-centered">
            <button id="anchor-1" href="#slide-1"
                data-button-image="{{'assets/img/Cubierta-Curva-Marbella.jpg' | absolute_url}}"
                class="button smaller-height is-paddingless is-transparent is-fullwidth is-large is-clipped">
            </button>
        </div>
        <div class="column has-text-centered">
            <button id="anchor-2" href="#slide-2"
                data-button-image="{{'assets/img/Cubierta-Edificio.jpg' | absolute_url}}"
                class="button smaller-height is-paddingless is-transparent is-fullwidth is-large is-clipped">
            </button>
        </div>
        <div class="column has-text-centered">
            <button id="anchor-3" href="#slide-3"
                data-button-image="{{'assets/img/Cubierta-Lidel-Can-Vidalet.jpg' | absolute_url}}"
                class="button smaller-height is-paddingless is-transparent is-fullwidth is-large is-clipped">
            </button>
        </div>
        <div class="column has-text-centered">
            <button id="anchor-4" href="#slide-4"
                data-button-image="{{'assets/img/Cubierta-Pista-de-padel.jpg' | absolute_url}}"
                class="button smaller-height is-paddingless is-transparent is-fullwidth is-large is-clipped">
            </button>
        </div>
        <div class="column has-text-centered">
            <button id="anchor-5" href="#slide-5"
                data-button-image="{{'assets/img/Edificio-Aldesa.jpg' | absolute_url}}"
                class="button smaller-height is-paddingless is-transparent is-fullwidth is-large is-clipped">
            </button>
        </div>
    </div>
</section>