<!-- Add thumbnails with anchor links pointing to corresponding images. -->

<ul class="thumbs">
    <li><a id="anchor-1" href="#slide-1"><img
                src="assets/img/1-Andres-Flajszer-CODA-MPDA-GRIDSHELLS.jpg" /></a></li>
    <li><a id="anchor-2" href="#slide-2"><img
                src="assets/img/5-programming-white.PNG" /></a></li>
    <li><a id="anchor-3" href="#slide-3"><img
                src="assets/img/10-InBetweenSkyview.jpg" /></a></li>
    <li><a id="anchor-4" href="#slide-4"><img
                src="assets/img/12-dome.jpg" /></a></li>
    <li><a id="anchor-5" href="#slide-5"><img
                src="assets/img/15-granite.jpg" /></a></li>
</ul>

<!-- add images to the webpage -->

<ul class="slide">
    <li class="first" id="slide-1"><img src="assets/img/1-Andres-Flajszer-CODA-MPDA-GRIDSHELLS.jpg"
            alt="" /></li>
    <li id="slide-2"><img src="assets/img/5-programming-white.PNG" alt="" /></li>
    <li id="slide-3"><img src="assets/img/10-InBetweenSkyview.jpg" alt="" /></li>
    <li id="slide-4"><img src="assets/img/12-dome.jpg" alt="" /></li>
    <li id="slide-5"><img src="assets/img/15-granite.jpg" alt="" /></li>
</ul>

<!-- Romove anchor event. -->