---
---

@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$steel-blue: #4682b4;
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$dark-grey: #363636;
$light-grey: hsl(0, 0%, 71%) ;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $dark-grey;
$grey-light: $brown;
$primary: $steel-blue;
$info: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../_sass/bulma-0.8.0/bulma.sass";

@import "../_sass/myStyles.scss";

$main-color: white;

.image.post-image{
  height: 200px !important;
  overflow: hidden;
}
.hero.has-background{
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  position: relative;
}
.hero{
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}
#author-img img{
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-left:1em;
  border-radius: 50% !important;
  border: 5px double #727272;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
}
#post-img{
  background-position: center !important;
  background-size: cover !important;
  // background-repeat: no-repeat !important;
}
.small-height{
  height: 300px !important;
  overflow: hidden;
  background-position: center !important;
  background-size: cover !important;
}
.medium-height{ 
  height: 500px;
  
  overflow: hidden;
  background-position: center !important;
  background-size: cover !important;
}

#projects{
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}
#intro{
  border-radius: 6px;
}
#author-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#author-card p{
  margin-top:auto;
  margin-bottom: 2em;
  margin-right:2em;
  margin-left:2em;
  text-align: justify;
}
#intro-home{
  border-radius: 6px;
}
#desc-home{
  border-radius:6px;
}
#links-text{
  border-radius: 6px;
}
#ltext-about{
  border-radius: 6px;
}

#author-logo:hover img{
background-blend-mode: difference !important;
}
#particles-js-snow{ 
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 1;
}
#particles-js{ 
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 1;
}
#footer-buttons .buttons{
display: flex;
justify-content: center;
align-items: center;
margin-top: 1.5rem;
}
#footer-buttons .buttons .button{
  width: 35px;
  height: 35px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom:0;
}
#footer-buttons .buttons .button svg{
  width: 20px;
  height: 20px;
}
#small-footer{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.threeJS-canvas {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: block !important;
  background-color: $grey-light;
  margin-right: 0;
  margin-left: 0;
  margin-top:0;
  margin-bottom: 0;
}


/* style the thumbail navigation */
li {
  list-style-type: none;
}

#slide{
  display: flex;
  justify-content: center;
  width: 700px;
  height: 350px;
  
}
#slide ul{
  width: 100%;
  height: 100%;
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-top:0 !important;
}
.thumbs {
    padding-left: 0;
    width: 800px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.thumbs li,
.thumbs li a {
    margin-top:0 !important;
    width: 150px;
    height: auto;
}

.thumbs a {
    /*display: block;*/
    position: relative;
    font: bold 12px/25px Arial, sans-serif;
    color: #515151;
    text-decoration: none;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.25), inset 1px 1px 0px rgba(0, 0, 0, 0.15);
}

.thumbs li a img {
    width: 150px;
    height: 100px;
}

.thumbs li a:hover span {
    position: absolute;
    z-index: 101;
    bottom: -30px;
    display: block;
    width: 98px;
    height: 25px;
    text-align: center;
    -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    background: #fff;
    background: -webkit-linear-gradient(top, #fff 0%, #bcbcbc 100%);
    background: -moz-linear-gradient(top, #fff 0%, #bcbcbc 100%);
    background: -o-linear-gradient(top, #fff 0%, #bcbcbc 100%);
    background: -ms-linear-gradient(top, #fff 0%, #bcbcbc 100%);
    background: linear-gradient(top, #fff 0%, #bcbcbc 100%);
}

.thumbs li a:hover span::before {
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    top: -5px;
    left: 44px;
}

/* the core css/css3 */
.slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: $grey-light;
  margin-right: 0;
  margin-left: 0;
  margin-top:0;
  margin-bottom: 0;
}
.slide ul{
  
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.slide,
.slide li,
.slide img {
    margin-top:0;
    width: 100%;
    height: 100%;
    position: relative;
}

.slide li {
    position: absolute;
    z-index: 50;
}

/*Animation For Slider*/
@-webkit-keyframes slider {
    0% {
        left: -500px;
    }

    100% {
        left: 0;
    }
}

.slide li:target {
    z-index: 100;
    -webkit-animation: slider 0.01s 1;
}

/*Not Target*/
@-webkit-keyframes noTarget {
    0% {
        z-index: 75;
    }

    100% {
        z-index: 75;
    }
}

.slide li:not(:target) {
    -webkit-animation: noTarget 1s 1;
}