---
---

@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../_sass/bulma-0.8.0/bulma.sass";

@import "../_sass/myStyles.scss";

$main-color: white;

.animation-title {
  overflow: hidden;

  figure { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }
  
  svg {
    padding: 5vw;
    width: 90vw;
  }
  
  svg > * { 
    fill: $main-color;
    stroke: $main-color;
    stroke-width: 0.85px;
  }

  &:after {
    content: "Hover to Slow Motion";
    position: absolute;
    left: 0; right: 0; bottom: 1vh;
    color: $main-color;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font: 700 9px/14px Tahoma, sans-serif;
  }
}


.image.post-image{
    height: 200px !important;
    overflow: hidden;
    
}
