---
layout: page-base
---

<div class="content">
  {{ content }}
</div>
<section class="section" id="intro-home">
  <div class="card">
    <div class="card-content">
      <div class="content has-text-centered is-italic">
        {{page.intro}}
        <br>
      </div>
    </div>
  </div>
</section>
<section class="" id="skills-home">
  <div class="section">
    <div class="container">
      <div class="content has-text-centered is-uppercase">
        <h1>Skills</h1>
      </div>
    </div>
    <div class="tile is-ancestor">
      {%for skill in page.skills %}
      <div class="tile is-vertical is-parent has-text-centered">
        <section class="hero is-primary is-medium">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                {{skill.title}}
              </h1>
              <h2 class="subtitle">
                {{skill.subtitle}}
              </h2>
            </div>
          </div>
        </section>
      </div>
      {%endfor%}
    </div>
    <div class="tile is-ancestor">
      {%for skill in page.add-skills %}
      <div class="tile is-vertical is-parent has-text-centered">
        <section class="hero is-primary is-medium">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                {{skill.title}}
              </h1>
              <h2 class="subtitle">
                {{skill.subtitle}}
              </h2>
            </div>
          </div>
        </section>
      </div>
      {%endfor%}
    </div>
  </div>
</section>
<section class="section" id="desc-home">
  <div class="card">
    <div class="card-content">
      <div class="content has-text-centered is-italic">
        {{page.links-text}}
        <br>
      </div>
    </div>
  </div>
</section>
<section class="" id="interests-home">
  <div class="section">
    <div class="container">
      <div class="content has-text-centered is-uppercase">
        <h1>interests</h1>
      </div>
    </div>
    <div class="tile is-ancestor">
      {%for interest in page.interests %}
      <div class="tile is-vertical is-parent has-text-centered">
        <section class="hero is-primary is-medium">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                {{interest.title}}
              </h1>
              <h2 class="subtitle">
                {{interest.subtitle}}
              </h2>
            </div>
          </div>
        </section>
      </div>
      {%endfor%}
    </div>
    <div class="tile is-ancestor">
      {%for interest in page.add-interests %}
      <div class="tile is-vertical is-parent has-text-centered">
        <section class="hero is-primary is-medium">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                {{interest.title}}
              </h1>
              <h2 class="subtitle">
                {{interest.subtitle}}
              </h2>
            </div>
          </div>
        </section>
      </div>
      {%endfor%}
    </div>
  </div>
</section>
<section class="section" id="links-text">
  <div class="card">
    <div class="card-content">
      <div class="content has-text-centered is-italic">
        {{page.links-text}}
        <br>
      </div>
    </div>
  </div>
</section>
<section class="" id="links-home">
  <div class="section">
    <div class="container">
      <div class="buttons is-centered are-medium">
        {% for button in page.buttons %}
        <button class="button is-primary is-outlined">{{button.title}}</button>
        {% endfor %}
      </div>
    </div>
  </div>
</section>